
/* Global */
.bg-grey {
  background-color: #f6f6f6;
}

/* NAV-BAR */
.navi {
  background-color: #0084ff; /* Blue */
}

/* HOME */
.bg-1 {
  background-color: #0084ff;  /* Blue */
  color: #ffffff;
}

.index_image {
  padding-bottom: 50px;
}

.index_image img {
  display:inline
}

/* Languages/About */
#languages, #projects, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#carouselProject {
  padding-bottom: 100px;
}

.code_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

#language_grid {
  margin-left: 15px;
}

.lan:hover {
  opacity: 0.8;
}

.lan {
  align: center;
  background-color: #0084ff;
  opacity: 1.0;
  margin: 4px;
  padding: 5px;
  font-size: 1.5em;
  color: #ffffff;
}

/* Carousel */
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
      background-color: #d2d2d2;
  }
  .thumbnail img {
      margin-bottom: 10px;
  }

  .carousel {
    margin-left: auto;
    margin-right: auto;
    max-width:700px;
    height:auto;
  }

.carousel-indicators:active {
  background-color: #0084ff;

}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #0084ff;
  transition: background 0.8s ease-in-out;
}

#projects img {
  padding-top: 25px;
}

/* sliding animation */
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
