
/* Global */
.bg-grey {
  background-color: #f6f6f6;
}

/* NAV-BAR */
.navi {
  background-color: #0084ff; /* Blue */
}

/* Section 1 */
.bg-1 {
  background-color: #0084ff;  /* Blue */
  color: #ffffff;
}

.index_image {
  padding-bottom: 50px;
}

.index_image img {
  display:inline
}

/* Section 2 */
#languages {
  padding-top: 100px;
  padding-bottom: 100px;

}

.code_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

#language_grid {
  margin-left: 15px;
}

.lan:hover {
  opacity: 0.8;
}


.lan {
  align: center;
  background-color: #0084ff;
  opacity: 1.0;
  margin: 4px;
  padding: 5px;
  font-size: 1.5em;
  color: #ffffff;
}


/* sliding animation */
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
