{% extends 'BetterBeerBlog/base.html' %}
{% block content %}

  <div class="container centerstage">
    <div class="jumbotron">
      <h2>Please Login:</h2>
      <h3>(Must be a SuperUser)</h3>

      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      {# may need to add BetterBeerBlog:login below #}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Login">
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
  </div>

{% endblock %}
